[Unit]
Description=trigger a chromium update every 4 hours
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=120
OnUnitActiveSec=14400
Unit=chromium-updater.service

[Install]
WantedBy=timers.target
