[Unit]
Description=Automatic chromium updater which runs every 4 hours

[Service]
ExecStart=/usr/bin/chromium-installer.sh

[Install]
WantedBy=multi-user.target
